---
layout: page
title: Blog
permalink: /blog/
---

<center>
<font size="+1"><h3 style="margin-bottom: 0; margin-top: 40px;">Very little is needed to make a happy life;<br>it is all within yourself, in your way of thinking.</h3></font>
<time>- by Marcus Aurelius</time><br>
<h5 style="margin-bottom:40px;">subscribe via<a href="{{ "/feed.xml" | prepend: site.baseurl }}"> RSS   <i class="fa fa-rss"></i></a></h5>
</center>

{% for post in site.posts %}
<div class="walk-listing" style="max-width:600px;margin:0 auto;">
	<div class="photo">
		<img src="/images/flowerround.jpg" style="max-width:100%;border-radius:50%;" alt="" align="middle"/>
	</div>
    <div class="summary">
		<p>
		<font size="1"><time>{{ post.date | date: "%b %-d, %Y" }}</time></font>
		<br><font size="+1"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></font>
		<br><font size="-1">{% if post.summary %}{{ post.summary }}{% endif %}</font>
		</p>
	</div>
</div>
{% endfor %}

