<footer>

	

	<a href="http://www.linkedin.com/in/bdamos" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
	<a href="http://www.facebook.com/bdamos" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
	<a href="http://www.facebook.com/bdamos" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
	<a href="https://scholar.google.com/citations?user=CZwrwHAAAAAJ" target="_blank"><i class="ai ai-google-scholar-square ai-2x"></i></a>
	<a href="https://twitter.com/taniarascia" class="social-icon" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
	<a href="https://github.com/taniarascia" class="social-icon" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>	
</footer>
