
<a class="footer" href="https://github.com/yaqintang" class="social-icon" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
<a class="footer" href="https://www.linkedin.com/in/yaqintang/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
<a class="footer" href="https://scholar.google.com/citations?user=Tlm6iDMAAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar-square ai-2x"></i></a>
<a class="footer" href="https://plus.google.com/115168538742269229049" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
<a class="footer" href="https://twitter.com/yaqintang" class="social-icon" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
<a class="footer" href="https://www.facebook.com/yaqintang.me" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>

