<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} - Yaqin Tang{% else %}{{ site.title }}{% endif %}</title>

	<link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/vendor/css/fontstyleone.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/vendor/css/fontstyletwo.css' | prepend: site.baseurl }}">
	
	<script type="text/javascript" src="/vendor/js/jquery.min.js"></script>
	<link rel="stylesheet" href="/vendor/css/font-awesome.min.css">
	<link rel="stylesheet" href="/vendor/css/academicons.min.css">
	
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head> 
