/* declare commonly used variables; */
$content-width: 800px;
$breakpoint: 600px;
$nav-height: 50px;
$nav-background: #ffffff;
$nav-font-color: #262626;
$link-hover-color: #2581DC;
/* 
$link-color; 
*/






body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	padding-top: 0px; 
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: none;
}

main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: #898989;
}

.container {
	max-width: $content-width;
	margin: 0 auto;
}

.img-circle {
    border-radius: 50%;
    height: 40px;
}
.img-round {
    border-radius: 25%;
    height: 30px;
}

/* ------------------------------------------------------------ */
/* this part is for navigation bar */
/* ------------------------------------------------------------ */

.navigation {
	height: $nav-height;
	background: $nav-background;
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
}

.nav-container {
	max-width: $content-width;
	margin: 0 auto;
}

.brand {
	position: absolute;
	padding-left: 20px;
	float: left;
	line-height: $nav-height;
	/* text-transform: uppercase; */
	/* font-size: 1.2em; */
	color: $link-color;
	font-weight: bold;
	a,
	a:visited {
		color: $link-color;
		text-decoration: none;
	}
	a:hover {
		color: $link-color;
		text-decoration: none;
	}
}

nav {
	float: right;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			position: relative;
			a {
				display: block;
				padding: 0 20px;
				line-height: $nav-height;
				background: $nav-background;
				color: $link-color;
				text-decoration: none;
				&:hover {
					background: $nav-background;
					color: $link-hover-color;
				}
				&:not(:only-child):after {
					padding-left: 4px;
					content: ' ▾';
				}
			}
			a.active {
				color: $link-hover-color;
			}
			ul li {
				min-width: 190px;
				& a {
					padding: 15px;
					line-height: 20px;
					z-index: 1;
				}
			}
		}
	}
}

.nav-dropdown {
	position: absolute;
	display: none;
	z-index: 1;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: $nav-background;
	height: $nav-height;
	width: $nav-height;
}

#nav-toggle {
	position: absolute;
	left: 18px;
	top: 13px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
	span,
	span:before,
	span:after {
		cursor: pointer;
		border-radius: 1px;
		height: 3px;
		width: 20px;
		background: $link-color;
		position: absolute;
		display: block;
		content: '';
		transition: all 200ms ease-in-out;
	}
	span:before {
		top: -6px;
	}
	span:after {
		bottom: -6px;
	}
	&.active span {
		background-color: transparent;
		&:before,
		&:after {
			top: 0;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}

@media only screen and (max-width: $breakpoint) {
	.nav-mobile {
		display: block;
	}
	nav {
		width: 100%;
		padding: $nav-height 0 15px;
		ul {
			display: none;
			li {
				float: none;
				a {
					padding: 15px;
					line-height: 20px;
				}
				ul li a {
					padding-left: 30px;
				}
			}
		}
	}
  
	.nav-dropdown {
		position: static;
	}
}

@media screen and (min-width: $breakpoint) {
	.nav-list {
		display: block !important;
	}
}

/* end navigation bar */
/* ------------------------------------------------------------ */


/* this is for blog image/text format */
.walk-listing {
	background-color: #fff;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
    /* border: 1px solid #000; */
    width: 100%;
}

.walk-listing .photo {
    float: left;
    width: 20%;
	overflow: hidden;
}

.walk-listing .summary {
	padding-left: 20px;
    overflow: hidden;
    width: 80%;
}

@media screen and (max-width: 479px) {
/*
   .walk-listing .photo { 
    float: none;
    margin-right:0;
    width:auto;
	height:auto;
    border:1px solid #000;
    border-bottom:0px solid #000;    
  } */
   .walk-listing .summary { 
    float: none;
    margin-right:0;
    width:auto;
	height:auto;
    /* border:1px solid #000; */
  }
}

/* end responsive div */


/* ------------------------------------------------------------ */
/* this part is for footer and social icon */
/* ------------------------------------------------------------ */
footer {
	text-align: right;
	padding-top: 40px;
	padding-bottom: 40px;

}
a.footer {
	color: #cccccc
}

.fa-github-square:hover{
color: #000000;
}
.fa-linkedin-square:hover{
color: #007bb5;
}
.ai-google-scholar-square:hover{
color: #4885ed
}
.fa-google-plus-square:hover{
color: #dd4b39;
}
.fa-twitter-square:hover{
color: #55acee;
}
.fa-facebook-square:hover{
color: #3b5998;
}

@media screen and (max-width: 600px) {
   footer { 
	text-align: center;
  }
}

/* end footer and social icon */
/* ------------------------------------------------------------ */